// color

$color-primary: #1c75b9;
$color-element-base: #e3e4e5;
$color-element-dark: #909295;
$color-element-light: #f7f8f9;
$color-shadow-main: RGBA(76, 76, 76, .32);
$color-shadow-main-button: RGBA(76, 76, 76, .80);
//$color-shadow-main-button: RGBA(0, 0, 0, .64);
$color-shadow-main-card: RGBA(76, 76, 76, .32);
$color-shadow-blur: RGBA(76, 76, 76, .08);
$color-shadow-blur-button: RGBA(76, 76, 76, .16);
//$color-shadow-blur-button: RGBA(74, 74, 74, .32);
$color-shadow-blur-card: RGBA(76, 76, 76, .08);
$color-text-black: #4c4c4c;
$color-text-white: #ffffff;
$color-text-gray: #909295;
