// color

$color-element-base: #e3e4e5;
$color-element-dark: #909295;
$color-element-light: #f7f8f9;
$color-shadow-main: RGBA(76, 76, 76, .32);
$color-shadow-blur: RGBA(76, 76, 76, .04);
$color-text-black: #4c4c4c;