$small: .5em;
$standard: 1em;
$large: 3em;

.small-padding {
	padding: $small;
}

.small-padding-top {
	padding-top: $small;
}

.small-padding-bottom {
	padding-bottom: $small;
}

.small-padding-left {
	padding-left: $small;
}

.small-padding-right {
	padding-right: $small;
}

.standard-padding {
	padding: $standard;
}

.standard-padding-top {
	padding-top: $standard;
}

.standard-padding-bottom {
	padding-bottom: $standard;
}

.standard-padding-left {
	padding-left: $standard;
}

.standard-padding-right {
	padding-right: $standard;
}

.large-padding {
	padding: $large;
}

.large-padding-top {
	padding-top: $large;
}

.large-padding-bottom {
	padding-bottom: $large;
}

.large-padding-left {
	padding-left: $large;
}

.large-padding-right {
	padding-right: $large;
}

.small-margin {
	margin: $small;
}

.small-margin-top {
	margin-top: $small;
}

.small-margin-bottom {
	margin-bottom: $small;
}

.small-margin-left {
	margin-left: $small;
}

.small-margin-right {
	margin-right: $small;
}

.standard-margin {
	margin: $standard;
}

.standard-margin-top {
	margin-top: $standard;
}

.standard-margin-bottom {
	margin-bottom: $standard;
}

.standard-margin-left {
	margin-left: $standard;
}

.standard-margin-right {
	margin-right: $standard;
}

.large-margin {
	margin: $large;
}

.large-margin-top {
	margin-top: $large;
}

.large-margin-bottom {
	margin-bottom: $large;
}

.large-margin-left {
	margin-left: $large;
}

.large-margin-right {
	margin-right: $large;
}