//reset browser
* {
	margin: 0;
	padding: 0;
}
// typography

$font-base: 1.2vw;
$font-stack: 'Source Sans Pro', sans-serif;
$font-weight-extralight: 200;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-semibold: 600;

// FONT SIZE MIXIN
@mixin font-size($size, $min, $max: false, $fallback: false) {
	//strip units from font-base & font-size
  $font-size-unitless: $font-base / ($font-base - $font-base + 1);
  $size-unitless: $size / ($size - $size + 1);
	//calculate min and max breakpoints
  $min-breakpoint: ($min / $size-unitless) / ($font-size-unitless / 100);
  $max-breakpoint: ($max / $size-unitless) / ($font-size-unitless /100);
  	//set max media width for scaling 
  @media (max-width: #{$min-breakpoint}) {
      font-size: $min;
    }
  	//set min media width if max font size is defined
  @if $max {
    @media (min-width: #{$max-breakpoint}) {
      font-size: $max;
    }
  }
  	//call fallback if defined
  @if $fallback {
    font-size: $fallback;
  }
  	//default font size
  font-size: $size;
}

//set base font size
body {
	font-size: $font-base;
}

//font size classes
.f1 {
	@include font-size(6.56em, 32px, false);
}
.f2 {
	@include font-size(4.1em, 28px, false);
}
.f3 {
	@include font-size(2.56em, 24px, false);
}
.f4 {
	@include font-size(1.6em, 22px, false);
}
.f5 {
	@include font-size(1.4em, 20px, false);
}
.f6 {
	@include font-size(1.125em, 18px, false);
}
.f {
	@include font-size(1em, 16px, false);
}
.f7 {
	@include font-size(.9em, 14px, false);
}
.f8 {
	@include font-size(.8em, 13px, false);
}
.f9 {
	@include font-size(.75em, 12px, false);
}

// base x6.56 - 104.96px
h1 {
	color: $color-text-black;
	font-family: $font-stack;
	font-weight: $font-weight-extralight;
	line-height: .9;
	margin-bottom: .37em;
}

// base x4.1 - 65.6px
h2 {
	color: $color-text-black;
	font-family: $font-stack;
	font-weight: $font-weight-extralight;
	line-height: .96;
	margin-bottom: .48em;
}


// base x2.56 - 40.96px
h3 {
	color: $color-text-black;
	font-family: $font-stack;
	font-weight: $font-weight-light;
	line-height: 1.16;
	margin-bottom: .58em;
}


// base x1.6 - 28.8px
h4 {
	color: $color-text-black;
	font-family: $font-stack;
	font-weight: $font-weight-light;
	line-height: 1.25;
	margin-bottom: .59em;
}

// base x1.4 - 22.4px
h5 {
	color: $color-text-black;
	font-family: $font-stack;
	font-weight: $font-weight-regular;
	line-height: 1.07;
	margin-bottom: .36em;
}

// base x1.125 - 18px
h6 {
	color: $color-text-black;
	font-family: $font-stack;
	font-weight: $font-weight-semibold;
	line-height: 1.333;
	margin-bottom: .44em;
}

// base - 16px
p {
	color: $color-text-black;
	font-family: $font-stack;
	font-weight: $font-weight-regular;
	line-height: 1.5;
	margin-bottom: .5em;
}

// base x.9 - 14.4px
p.h7 {
	font-weight: $font-weight-semibold;
	line-height: 1.11;
	margin-bottom: .54em;
}

// base x.8 - 12.8px
p.h8 {
	font-weight: $font-weight-semibold;
	line-height: 1.25;
	margin-bottom: .62em;
}

// base x.75 - 12px
p.h9 {
	font-weight: $font-weight-semibold;
	line-height: 1.333;
	margin-bottom: .65em;
}

// smallcaps
p.smallcaps {
	color: $color-text-black;
	font-weight: $font-weight-semibold;
	letter-spacing: .09em;
	line-height: 1.1;
	margin-bottom: .5em;
	opacity: .5;
	text-transform: uppercase;
}